@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-300.woff2') format('woff2'),
    url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-regular.woff2') format('woff2'),
    url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-700.woff2') format('woff2'),
    url('/fonts/roboto-slab-v24-latin_greek-ext_greek_cyrillic-700.woff') format('woff');
}
